#header {
    height: 100px;
    width: 400px;
    position: relative;
}

input {
    width: 80%;
}

#title {
    width: 50%;
    height: 50%;
}

.border {
    outline: thin;
    outline-style: solid;
    outline-color: lightgray; 
    margin-left: auto;
    margin-right: auto;
}

.profile {
    
    position: relative;
    height: 70px;
    width: 320px;
}
.thumb {
    float: left;
}

.indent {
    margin-left: 20px;
    position: absolute;
}

.name {
    height: 5px;
    margin-top: auto;
}

.content {
    position: absolute;
    margin-left: 58px;
    height: 70px;
}

.profilepic {
    border-radius: 5px;
    display: block;
    position: absolute;
    margin-right: 15px;
    top: 10%;
    left:  3%;
    height: 48px;
    width: 48px;
}

